/**-------------ROOT VARIABLES-------------*/
:root {
  --primary-background-color: #f0f8ff;
  --secondary-background-color: #add6fd;
  --primary-color: #ff635e;
  --secondary-color: #80ffbf;
  --third-color: #7c5eff;

  --shadow-color: hsla(0, 0%, 0%, 0.74);

  --font-color: hsl(0, 0%, 16%);

  --border-radios-1: 0.25rem;
  --border-radios-2: 0.5rem;
  --border-radios-3: 1rem;
  --border-radios-4: 1.5rem;

  --padding-1: 0.5rem;
  --padding-2: 1rem;
  --padding-3: 1.25rem;
  --padding-4: 1.5rem;

  --font-family-1: "Ubuntu", sans-serif;
  --font-family-2: "Square Peg", cursive;
}

.dark-theme{
  --primary-background-color: hsl(210, 100%, 13%);
  --secondary-background-color: #1a1a1a;
  --primary-color: #ff635e;
  --secondary-color: #80ffbf;
  --third-color: #7c5eff;

  --font-color: hsl(208, 100%, 97%);
}

/**-------------GLOBAL STYLING-------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-1);
}

body {
  overflow: overlay;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 0, 0, 0);
  margin: 0.25rem 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 1rem;
}

.theme-toggle{
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.theme-toggle svg{
  width: 3rem;
  height: 3rem;
}

.theme-toggle svg g circle{
  fill: var(--secondary-color);
}

.theme-toggle svg g g g rect{
  fill:var(--font-color);
}


/**------------------UTILITY CLASSIS------------------*/

.prim-Bg {
  background-color: var(--primary-background-color);
}

.sec-Bg {
  background-color: var(--secondary-background-color);
}

.prim-color {
  color: var(--primary-color);
}

.sec-color {
  color: var(--secondary-color);
}

.third-color {
  color: var(--third-color);
}

.muted-text {
  color: var(--font-color);
  opacity: 60%;
}

.active {
  color: var(--primary-color);
  font-weight: 500;
  position: relative;
}
.active::after {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  left: 0;
}

.primary-btn {
  padding: 0.5rem;
  background: linear-gradient(0.4turn, var(--primary-color), var(--third-color));
  color: var(--secondary-color);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.primary-btn:hover {
  border-radius: 0.5rem;
  transition: border-radius 500ms ease;
}

.primary-btn:active {
  transform: scale(0.9);
  transition: transform 200ms ease;
}

.under-lined {
  position: relative;
  cursor: pointer;
}

.under-lined::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5%;
  background-color: var(--secondary-color);
  bottom: 0;
  left: 0;
  transform: translate(0, 2px);
  border-radius: 1rem;

  transition: all 500ms ease;
}

.under-lined:hover::after{
  background-color: var(--third-color);
}